{% extends "base.html" %}

{% block app_content %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'sprinkler.js') }}"></script>
<body onload="javascript:status('{{ status }}')">

<h1>Sprinkler</h1>
	<h2>Status <span id="status"></span></h2>
		<span id="button">
			<div class="row"><div class="col-md-2">
				<a href="javascript:action('opposite')" class="btn btn-block btn-lg btn-default" role="button">Turn <span id="opposite"></span></div></a>
			</div></div>
		</span>

	<p>Last run: {{last_run}}</p>
   	<p>Next run: {{next_run}}</p>
   	<br></br>
   	<p><a href="{{ url_for('sp_timer') }}">Set Timer</a></p>
   	<p><a href="{{ url_for('sp_schedule') }}">Set Schedule</a></p>
	
{% endblock %}