{% extends "base.html" %}

{% block app_content %}
<script type = "text/javascript" src = "{{url_for('static', filename = 'sprinkler.js')}}"></script>
<body onload="javascript:setelems('{{status}}', '{{opposite}}')">

<div id="sprinkler">
<h1>Sprinkler</h1>
	<h2>Status <span id="status"></span></h2>
		<div class="row"><div class="col-md-2">
			<a id="button" onclick="javascript:action('sprinkler')" role="button">Turn <span id="opposite"></span></a>
		</div></div>

	<p><small class="text-muted">Last run: {{last_run}}</small><br>
   	<small class="text-muted">Next run: {{next_run}}</small></p>

	<a href="{{url_for('sp_timer')}}"><img src = "{{url_for('static', filename = 'timer.JPG')}}" width="82" height="82" title="Timer"></a>
	<a href="{{url_for('sp_schedule')}}"><img src = "{{url_for('static', filename = 'schedule.JPG')}}" width="82" height="82" title="Schedule"></a>
</div>
{% endblock %}